{% extends 'home.html' %}
{% block title %}
<title>Add comment to answer</title>
{% endblock %}
{% block content %}
<body>
<h1 class="site-title">Add Comment</h1>
<form class="add-form" method=post enctype=multipart/form-data>
    <label class="form-label" for="message">Message:</label><br>
    <textarea class="text-input" id="message" name="message" required></textarea><br>
    <input type="hidden" id="answer_id" name="answer_id" value= '{{ answer["id"] if answer is defined }}'>
    <input type="hidden" id="question_id" name="question_id" value= '{{ answer["question_id"] if answer is defined }}'>
    <div class="wraper">
    <button class="button" type="submit"><p>Add new comment</p></button>
</div>
</form>
<div>
<button class="button"><a href="/question/{{ answer['question_id'] }}">Back</a></button></div>
</body>
{% endblock %}
